@import "./mixin.scss";

* {
  margin: 0px;
  padding: 0px;
}

#root {
  width: 100vw;
  height: 100vh;
  
  display: grid;
  grid-template-rows: 1fr 12fr;
  align-items: center;
  align-items: start
}

.header-section {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-areas: "LOGO EMPTY MENU";
  width: 100vw;
  height: 10vh;
  border-bottom: solid 1px;
  
  > :nth-child(1) {
    grid-area: LOGO;
    @include flexRowsCenterMixin;
  }
  > :nth-child(2) {
    grid-area: EMPTY;
    @include flexRowsCenterMixin;
    > ul {
      list-style: none;
      display: flex;

      > li {
        margin: 0px 20px 0px 20px;
        font-size: 18px;
      }
    }
  }
  > :nth-child(3) {
    grid-area: MENU;
    @include flexRowsCenterMixin;

    > ul {
      list-style: none;
      display: flex;

      > li {
        margin: 0px 20px 0px 20px;
        font-size: 14px;
        color: rgb(102, 101, 101);
      }
    }
  }
}

.main-section {
  height: 100%;
  @include flexRowsCenterMixin;
  >:nth-child(1){
    
    @include flexRowsCenterMixin;
    
    gap: 10vw;
    >.content {
      width: 300px;
      height: 400px;
      border: solid 1px;
    }
    

  }
  
}